In [19]:
#Nome: Arthur Takashi Kanno 11806872
#Nome: Pedro Ian de Almeida Soares 12554327

import pandas as pd
import numpy as np

cars_data = pd.read_csv("vehicles_cleaned_train.csv")

In [20]:
cars_data.head()

,price,year,condition,cylinders,fuel,odometer,transmission,size,type
0,10400,2011,excellent,4 cylinders,gas,81300,automatic,mid-size,sedan
1,6900,2007,excellent,6 cylinders,gas,79000,automatic,full-size,sedan
2,18900,2018,like new,4 cylinders,gas,5000,automatic,full-size,sedan
3,6000,2010,excellent,4 cylinders,gas,97600,automatic,mid-size,hatchback
4,19995,2013,good,6 cylinders,gas,95782,automatic,mid-size,sedan

In [21]:
def Conversao(data):
    data_dummies = pd.get_dummies(data)
    data_numpy = data_dummies.to_numpy()

    d = data_numpy[:, 0].reshape(-1, 1)

    x0 = data_numpy[:, 1:]
    x1 = np.hstack((np.ones((x0.shape[0], 1)), x0))
    aux = np.zeros(x1.shape)
    x1 = x1 + aux
    x1[:, 1] = x1[:, 1] - 2001
    X = x1

    X = np.float64(X)
    d = np.float64(d)

    return X, d

In [22]:
X, d = Conversao(cars_data)

R = X.T @ X
p = X.T @ d

wo = np.linalg.solve(R, p)

In [23]:
cars_test = pd.read_csv("cars_teste.csv")
cars_test.head()

,price,year,condition,cylinders,fuel,odometer,transmission,size,type
0,11995,2018,excellent,4 cylinders,gas,19000,automatic,mid-size,sedan
1,20500,2017,excellent,6 cylinders,gas,68000,automatic,full-size,sedan
2,15800,2018,like new,4 cylinders,gas,41200,automatic,full-size,sedan
3,20980,2015,excellent,6 cylinders,gas,82845,automatic,mid-size,sedan
4,13999,2019,like new,4 cylinders,gas,29638,automatic,full-size,sedan

In [24]:
X_test, d_test = Conversao(cars_test)

e = d_test - X_test @ wo
erro_quadrado_medio = (sum(e**2))/e.shape[0]
print(erro_quadrado_medio)

[25857473.16984411]